.marquee-section{
 width: 100%;
  z-index: 10;
  height: 60dvh;
}
.marquee {
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;
}
.marquee-inner {
  border-top-right-radius: 17px;
  border-top-left-radius: 17px;
  background-color: #004d43;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.marquee-text {
  height: max-content;
  margin: 0;
  font-size: 14rem;
  font-weight: 700;
  color:#FFFFFF ;
  padding-right: 4rem;
  line-height: default;
  letter-spacing: -6px;
  text-transform: uppercase;
  white-space: nowrap;
  border-top: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
}
/* Mobile */
@media (max-width: 600px) {
  .marquee-section {
   height: 20rem;
  }
  .marquee-text {
    padding-right: 1rem;
    letter-spacing: -0.1rem;
  }
  .marquee-text {
     font-size: 10rem;

  }
}